[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = https://github.com/mileszs/ack.vim.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = https://github.com/tomtom/tcomment_vim.git
[submodule "bundle/ctrlp.vim.git"]
	path = bundle/ctrlp.vim.git
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/dracula"]
	path = bundle/dracula
	url = https://github.com/dracula/vim.git
